:root {
  --main-color: #616662;
  --second-color: #e9bc21;
  --blue-color: #0d6efd;
}

.search{
  display: inline-block;
    position: absolute;
    right: 50px;
    background: #50dc50;
    top: 40px;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
}

.search:hover{
  background-color:#0d6efd;
  cursor: pointer;
}

.form {
  max-width: 1200px;
  padding: 20px;
  gap: 20px;
}

.link.icon{
  background: #eee;
  padding: 5px;
  border-radius: 50%;
}
.link.icon:hover{
  background-color: yellow;
}

.slideUp {
  animation-name: slideUp;

  animation-duration: 1s;

  visibility: visible;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

a {
  text-decoration: none;
}

.on-sale-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff3b3b; /* Bright red for sale highlight */
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
.title {
  font-size: 38px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.title span {
  color: #e9bc21;
  text-transform:uppercase;
}

.outerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.InnerContainer {
  visibility: hidden;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  column-gap: 20px;
  row-gap: 30px;
  padding: 20px;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.product-card {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.product-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card__caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 20px;
}

.product-card__header {
  margin-bottom: 10px;
}

.product-card__title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.product-card__subtitle {
  font-size: 14px;
  color: #666;
}

/* Footer Styles */
.product-card__footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.product-card__price {
  font-size: 16px;
  color: #e9bc21;
  font-weight: bold;
}

/* Start Footer */
.footer {
    background-color: #3c3c3f;
    text-align: center;
    color: white;
    position: relative;
  }
  
  .footer .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .footer .chield {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .third{
    display: flex;
    flex-direction: column;
row-gap: 0px;



  }
  @media (max-width: 991px) {
    .footer .chield {
      flex-direction: column;
      justify-content: center;
    }
  }
  
  .footer .container .icon {
    margin-bottom: 20px;
  }
  
  .footer .container .icon img {
    width: 200px;
    height: 150px;
    background-color: #fff;
  }
  
  .footer .container .text {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 15px;
    width: fit-content;
    margin: 2px auto;
  }
  
  .footer .container .text h2 {
    font-weight: normal;
    position: relative;
  }
  
  .footer .phone-number {
    font-weight: 600;
  }
  
  .footer .container .media i {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .footer .author {
    margin-bottom: 5px;
  }
  
  .footer .author p {
    font-weight: 600;
    font-size: 20px;
    font-family: cursive;
    margin: 10px;
  }
  
  .footer .container .final {
    margin-top: 30px;
  }
  
  .footer .container .final .copyright span {
    font-weight: 600;
    color: var(--second-color);
    font-size: 20px;
  }
  
  .footer a {
    text-decoration: none;
    color: #fff;
  }
  
  /* End Footer */
  