body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    color: #333;
}

h1 {
    text-align: center;
    color: #ffcc00;
    margin-top: 20px;
    font-size: 2.5em;
}

.form1{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid #333; /* Black border */
}

label {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
}

input[type="file"] {
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #ffcc00; /* Yellow color */
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-top: 15px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #e6b800; /* Darker yellow on hover */
}

/* Table Styles */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

td {
    background-color: #f9f9f9;
}

a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #e6b800;
}

.uploaded-image {
    max-width: 200px;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
}